In [17]:
import pandas as pd

In [18]:
df = pd.read_csv('C:/Users/AndreasSilaen/Donwloads/taxi_tripdata.csv')

C:\Users\AndreasSilaen\AppData\Local\Temp\ipykernel_4716\2577815071.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('C:/Users/AndreasSilaen/Donwloads/taxi_tripdata.csv')

In [28]:
cleaned_df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83691 entries, 0 to 83690
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               51173 non-null  float64
 1   lpep_pickup_datetime   83691 non-null  object
 2   lpep_dropoff_datetime  83691 non-null  object
 3   store_and_fwd_flag     51173 non-null  object
 4   RatecodeID             51173 non-null  float64
 5   PULocationID           83691 non-null  int64
 6   DOLocationID           83691 non-null  int64
 7   passenger_count        51173 non-null  float64
 8   trip_distance          83691 non-null  float64
 9   fare_amount            83691 non-null  float64
 10  extra                  83691 non-null  float64
 11  mta_tax                83691 non-null  float64
 12  tip_amount             83691 non-null  float64
 13  tolls_amount           83691 non-null  float64
 14  improvement_surcharge  83691 non-null  float64
 15  total_amount           83691 non-null  float64
 16  payment_type           51173 non-null  float64
 17  trip_type              51173 non-null  float64
 18  congestion_surcharge   51173 non-null  float64
dtypes: float64(14), int64(2), object(3)
memory usage: 12.1+ MB

In [27]:
# Remove the column named "ehail_fee"
cleaned_df1 = df.drop(columns=['ehail_fee'])

In [4]:
# Identify duplicate records based on all columns
duplicate_records = df[df.duplicated(keep=False)]

In [31]:
# Check the number of records
num_records = cleaned_df2.shape[0]
print("Number of records in the DataFrame:", num_records)

Number of records in the DataFrame: 51173

In [8]:
# Remove duplicate records
cleaned_df = df.drop_duplicates(keep='first')

In [30]:
# Remove records with null values in any column
cleaned_df2 = cleaned_df1.dropna()

In [32]:
cleaned_df2.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,1.0,2021-07-01 00:30:52,2021-07-01 00:35:36,N,1.0,74,168,1.0,1.20,6.0,0.5,0.5,0.00,0.0,0.3,7.30,2.0,1.0,0.0
1,2.0,2021-07-01 00:25:36,2021-07-01 01:01:31,N,1.0,116,265,2.0,13.69,42.0,0.5,0.5,0.00,0.0,0.3,43.30,2.0,1.0,0.0
2,2.0,2021-07-01 00:05:58,2021-07-01 00:12:00,N,1.0,97,33,1.0,0.95,6.5,0.5,0.5,2.34,0.0,0.3,10.14,1.0,1.0,0.0
3,2.0,2021-07-01 00:41:40,2021-07-01 00:47:23,N,1.0,74,42,1.0,1.24,6.5,0.5,0.5,0.00,0.0,0.3,7.80,2.0,1.0,0.0
4,2.0,2021-07-01 00:51:32,2021-07-01 00:58:46,N,1.0,42,244,1.0,1.10,7.0,0.5,0.5,0.00,0.0,0.3,8.30,2.0,1.0,0.0

In [33]:
cleaned_df2.to_csv('cleaned_nyc_taxi_trips_fix.csv', index=False)